<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= blog.description %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= blog.author %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= blog.content %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= blog.published %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= blog.published_at %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= blog.slug %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= blog.tags %>
  </p>

  <p>
    <strong>Views count:</strong>
    <%= blog.views_count %>
  </p>

  <p>
    <strong>User:</strong>
    <%= blog.user_id %>
  </p>

</div>
